{% extends 'base.html'  %}
{% block application %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">重要服务</h1>
    <a class="btn btn-primary" href="/cmdb/application/add"><i class="fa fa-plus"></i>添加</a>
    <form class="navbar-form navbar-right" method='get' action='/cmdb/application/search'> {% csrf_token %}
            <select id="id_search_key"  name="search_key" class="form-control">
              <option value="service">服务名</option>
              <option value="service_level">服务级别</option>
              <option value="auto_deploy">一键发布</option>
              <option value="app_user">应用负责人</option>
              <option value="lan_ip">内网IP</option>
            </select>
            <input id="id_search_value"type="text" name="search_value" class="form-control">
            {% if search_key %}
            <script>
                $("#id_search_key ").val("{{search_key}}"); 
                $("#id_search_value ").val("{{search_value}}"); 
            </script>
            {% endif %}
            <input type="submit" class="form-control" value="查询">
    </form>
    <table class="table table-condensed"> 
        <thead>
            <tr> 
                <th>服务名</th> 
                <th>服务级别</th> 
                <th>一键发布</th> 
                <th>应用负责人</th> 
                <th>编辑</th> 
                <th>删除</th> 
           </tr> 
        </thead>
        <tbody>
           {% for object in objects %}
           <tr> 
                <td>{{object.service}}</td> 
                <td>{{object.service_level}}</td> 
                <td>{{object.auto_deploy}}</td> 
                <td>{{object.app_user}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'application_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'application_delete' object.id %}">删除</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'application_detail' object.id %}">详情</a></td> 
           </tr> 
           {% endfor %}
        </tbody>
     </table>
    <div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            {% if search_key %}
            <a href="?page={{ objects.previous_page_number }}&search_key={{search_key}}&search_value={{search_value}}">前一页</a>
            {% else %}
            <a href="?page={{ objects.previous_page_number }}">前一页</a>
            {% endif %}

        {% endif %}

        <span class="current">
            第 {{ objects.number }} 页  共{{ objects.paginator.num_pages }}页 {{ total }}条
        </span>

        {% if objects.has_next %}
            {% if search_key %}
            <a href="?page={{ objects.next_page_number }}&search_key={{search_key}}&search_value={{search_value}}">下一页</a>
            {% else %}
            <a href="?page={{ objects.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </span>
    </div>
     <script>
     $(function(){
     $("#myTable").tablesorter();
     });
     </script>
</div>
{% endblock %}
