{% extends 'base.html'  %}
{% block index %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
    <h3 class="page-header">虚拟主机详情</h3> 
            <div class = "row">
                <div class = "col-lg-1">
                    <label >主机名:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.HostName }}
                </div>
                <div class = "col-lg-1">
                    <label>状态:</label>
                </div>
                <div class = "col-lg-1">
                    {% if object.Status == 0 %}
                    使用
                    {% elif object.Status == 1 %}
                    空闲
                    {% elif object.Status == 2 %}
                    故障
                    {% else %}
                    备用
                    {% endif %}
                </div>
                <div class = "col-lg-1">
                    <label>部门:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.department }}
                </div>
                <div class = "col-lg-1">
                    <label>业务:</label>
                </div>
                <div class = "col-lg-3">
                    {{ object.service }}
                </div>
            </div>
            <div class = "row">
                <div class = "col-lg-1">
                    <label>用途:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Use_Info }}
                </div>
                <div class = "col-lg-1">
                    <label>用户:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.User }}
                </div>
                <div class = "col-lg-1">
                    <label>管理IP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Manage_IP }}
                </div>
            </div>
            <hr>
                    {# 系统信息 #}
            <div class='row'>
                <div class = "col-lg-1">
                    <label>系统:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.os }}
                </div>
                <div class = "col-lg-1">
                    <label>内核:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.kernel }}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-2">
                    <label>CPU个数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.vCPU_Number }}
                </div>
                <div class = "col-lg-2">
                    <label>内存大小:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Memory_Size }}
                </div>
                <div class = "col-lg-2">
                    <label>硬盘大小:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Disk_Size }}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-2">
                    <label>VIP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.VIP }}
                </div>
                <div class = "col-lg-2">
                    <label>NAS IP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.NAS_IP }}
                </div>
                <div class = "col-lg-2">
                    <label>宿主机IP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Physical_Host_IP }}
                </div>
             </div>
            <hr>
                    {# 其他信息 #}
            <div class='row'>
                <div class = "col-lg-2">
                    <label>申请日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Application_Time|date:"Y-m-d"}}
                </div>
                <div class = "col-lg-2">
                    <label>开通日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Up_Time | date:"Y-m-d"}}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-2">
                    <label>截止日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Use_Period }}
                </div>
                <div class = "col-lg-2">
                    <label>变更日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Change_Time | date:"Y-m-d" }}
                </div>
             </div>
             <div class='row'>
                <div class = "col-lg-2">
                    <label>变更说明:</label>
                </div>
                <div class = "col-lg-9">
                    {{ object.Change_Info }}
                </div>
             </div>
             <div class='row'>
                <div class = "col-lg-2">
                    <label>备注:</label>
                </div>
                <div class = "col-lg-9">
                    {{ object.Remarks }}
                </div>
            </div>
    
     </div>
{% endblock %}
