{% extends 'base.html'  %}
{% block host_physical %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
    <h3 class="page-header">物理主机详情</h3> 
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapsebaseinfo">基本信息</a>
            </h4>
        </div>
        <div id="collapsebaseinfo" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>主机名:</dt>
                    <dd>{{ object.HostName }}</dd>
                    <dt>状态:</dt>
                    {# object.Status #}
                    {% if object.Status == 0 %}
                    <dd>使用</dd>
                    {% elif object.Status == 1 %}
                    <dd>空闲</dd>
                    {% elif object.Status == 2 %}
                    <dd>故障</dd>
                    {% else %}
                    <dd>备用</dd>
                    {% endif %}
                    <dt>部门:</dt>
                    <dd>{{ object.department }}</dd>
                    <dt>业务:</dt>
                    <dd>{{ object.service }}</dd>
                    <dt>用途:</dt>
                    <dd>{{ object.UseInfo }}</dd>
                    <dt>用户:</dt>
                    <dd>{{ object.User }}</dd>
                    <dt>管理IP:</dt>
                    <dd>{{ object.Manage_IP }}</dd>
                </dl>
            </div>
          </div>
       </div>
     </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapsesysinfo">系统信息</a>
            </h4>
        </div>
        <div id="collapsesysinfo" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt >系统:</dt>
                    <dd>{{ object.os }}</dd>
                    <dt >内核:</dt>
                    <dd>{{ object.kernel }}</dd>
                    <dt >内存大小:</dt>
                    <dd>{{ object.Memory_Size }}</dd>
                    <dt >硬盘大小:</dt>
                    <dd>{{ object.Disk_Size }}</dd>
                    <dt >RAID级别:</dt>
                    <dd>{{ object.RAID_Level }}</dd>
                    <dt >远程管理IP:</dt>
                    <dd>{{ object.RAC_IP }}</dd>
                    <dt >VIP:</dt>
                    <dd>{{ object.VIP }}</dd>
                    <dt >NAS IP:</dt>
                    <dd>{{ object.NAS_IP }}</dd>
                </dl>
             </div>
           </div>
        </div>
      </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseidcinfo">机房信息</a>
            </h4>
        </div>
        <div id="collapseidcinfo" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt >机房:</dt>
                    <dd>{{ object.idc }}</dd>
                    <dt >区域:</dt>
                    <dd>{{ object.zone }}</dd>
                    <dt >机柜:</dt>
                    <dd>{{ object.rack }}</dd>
                    <dt >U位:</dt>
                    <dd>{{ object.Rack_Position }}</dd>
                </dl>
            </div>
          </div>
       </div>
     </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapsehwinfo">硬件信息</a>
            </h4>
        </div>
        <div id="collapsehwinfo" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="col-lg-6">
                 <dl class="dl-horizontal">
                    <dt >资产编号:</dt>
                    <dd>{{ object.Asset_SN }}</dd>
                    <dt >厂商:</dt>
                    <dd>{{ object.vendor }}</dd>
                    <dt >型号:</dt>
                    <dd>{{ object.model }}</dd>
                    <dt >序列号:</dt>
                    <dd>{{ object.SN }}</dd>
                    <dt >CPU:</dt>
                    <dd>{{ object.cpu}}</dd>
                    <dt >CPU个数:</dt>
                    <dd>{{ object.CPU_Number }}</dd>
                    <dt >内存:</dt>
                    <dd>{{ object.memory }}</dd>
                    <dt >内存条数:</dt>
                    <dd>{{ object.Memory_Number }}</dd>
                    <dt >硬盘:</dt>
                    <dd>{{ object.disk}}</dd>
                    <dt >硬盘个数:</dt>
                    <dd>{{ object.Disk_Number }}</dd>
                    <dt >RAID:</dt>
                    <dd>{{ object.raid}}</dd>
                    <dt >RAID电池:</dt>
                    <dd>{{ object.RAID_Battery }}</dd>
                    <dt >HBA卡:</dt>
                    <dd>{{ object.hba }}</dd>
                    <dt >HBA卡个数:</dt>
                    <dd>{{ object.HBA_Number}}</dd>
                    <dt >PCIE卡:</dt>
                    <dd>{{ object.pcie }}</dd>
                    <dt >PCIE卡个数:</dt>
                    <dd>{{ object.PCIE_Number }}</dd>
                    <dt >外置网卡:</dt>
                    <dd>{{ object.nic }}</dd>
                    <dt >外置网卡个数:</dt>
                    <dd>{{ object.NIC_Number }}</dd>
                </dl>
            </div>
          </div>
       </div>
     </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseassetinfo">资产信息</a>
            </h4>
        </div>
        <div id="collapseassetinfo" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt >购买日期:</dt>
                    <dd>{{ object.Purchasing_Time | date:"Y-m-d" }}</dd>
                    <dt >过保日期:</dt>
                    <dd>{{ object.Guarantee_Time | date:"Y-m-d" }}</dd>
                    <dt >上架日期:</dt>
                    <dd>{{ object.Up_Time | date:"Y-m-d"}}</dd>
                    <dt >变更日期:</dt>
                    <dd>{{ object.Change_Time | date:"Y-m-d"}}</dd>
                    <dt >变更说明:</dt>
                    <dd>{{ object.Change_Info }}</dd>
                    <dt >备注:</dt>
                    <dd>{{ object.Remarks }}</dd>
                </dl>
            </div>
          </div>
       </div>
     </div>
    
</div>
{% endblock %}
