{% extends 'base.html'  %}
{% block host_physical %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="row">
                              <div class="col-sm-6">
                                 物理主机
                              </div>
                              <div class="col-sm-6 text-right">
                                 <a href="/cmdb/host/physical/add">添加</a>
                              </div>
                            </div>
                        </div
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
    <table id="dataTables-example" class="table table-striped table-bordered table-hover"> 
        <thead>
            <tr> 
                <th>主机名</th> 
                <th>主机状态</th> 
                <th>管理IP</th> 
                <th>远程管理IP</th> 
                <th>使用者</th> 
                <th>用途</th> 
                <th>编辑</th> 
                <th>删除</th> 
                <th>详情</th> 
                <th>复制</th> 
           </tr> 
        </thead>
        <tbody>
           {% for object in objects %}
           <tr> 
                <td>{{object.HostName}}</td> 
                {% if object.Status == 0 %}
                    <td>使用</td> 
                {% elif object.Status == 1 %}
                    <td>空闲</td> 
                {% elif object.Status == 2 %}
                    <td>故障</td> 
                {% else %}
                    <td>备用</td> 
                {% endif %}
                <td>{{object.Manage_IP}}</td> 
                <td>{{object.RAC_IP}}</td> 
                <td>{{object.User}}</td> 
                <td>{{object.UseInfo}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_delete' object.id %}">删除</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_detail' object.id %}">详情</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_copy' object.id %}">复制</a></td> 
             </tr> 
          {% endfor %}
             </tbody> 
     </table>

</div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true,
                "language": {
                "url": "/static/Chinese.json"
                }
        });
    });
    </script>
{% endblock %}

