{% extends 'base.html'  %}
{% block host_physical %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
    <h3 class="page-header">物理主机详情</h3> 
    <div>
                    {# 基本信息 #}
            <div class = "row">
                <div class = "col-lg-1">
                    <label for="{{ object.HostName.id_for_label }}">主机名:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.HostName }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.Status.id_for_label }}">状态:</label>
                </div>
                <div class = "col-lg-1">
                    {# object.Status #}
                    {% if object.Status == 0 %}
                    使用
                    {% elif object.Status == 1 %}
                    空闲
                    {% elif object.Status == 2 %}
                    故障
                    {% else %}
                    备用
                    {% endif %}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.department.id_for_label }}">部门:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.department }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.service.id_for_label }}">业务:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.service }}
                </div>
            </div>
            <div class = "row">
                <div class = "col-lg-1">
                    <label for="{{ object.UseInfo.id_for_label }}">用途:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.UseInfo }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.User.id_for_label }}">用户:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.User }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.Manage_IP.id_for_label }}">管理IP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Manage_IP }}
                </div>
            </div>
            <hr>
                    {# 系统信息 #}
            <div class='row'>
                <div class = "col-lg-1">
                    <label for="{{ object.os.id_for_label }}">系统:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.os }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.kerenl.id_for_label }}">内核:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.kernel }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.Memory_Size.id_for_label }}">内存大小:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Memory_Size }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.Disk_Size.id_for_label }}">硬盘大小:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Disk_Size }}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.RAID_Level.id_for_label }}">RAID级别:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.RAID_Level }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.RAC_IP.id_for_label }}">远程管理IP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.RAC_IP }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.VIP.id_for_label }}">VIP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.VIP }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.NAS_IP.id_for_label }}">NAS IP:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.NAS_IP }}
                </div>
             </div>
            <hr>
                    {# 机房信息 #}
            <div class='row'>
                <div class = "col-lg-1">
                    <label for="{{ object.idc.id_for_label }}">机房:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.idc }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.zone.id_for_label }}">区域:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.zone }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.rack.id_for_label }}">机柜:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.rack }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.Rack_Position.id_for_label }}">U位:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Rack_Position }}
                </div>
            </div>
            <hr>
                    {# 硬件信息 #}
            <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.Asset_SN.id_for_label }}">资产编号:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Asset_SN }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.vendor.id_for_label }}">厂商:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.vendor }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.model.id_for_label }}">型号:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.model }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.SN.id_for_label }}">序列号:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.SN }}
                </div>
           </div>
           <div class='row'>
                <div class = "col-lg-1">
                    <label for="{{ object.cpu.id_for_label }}">CPU:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.cpu}}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.CPU_Number.id_for_label }}">CPU个数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.CPU_Number }}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.memory.id_for_label }}">内存:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.memory }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.Memory_Number.id_for_label }}">内存条数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Memory_Number }}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-1">
                    <label for="{{ object.disk.id_for_label }}">硬盘:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.disk}}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.Disk_Number.id_for_label }}">硬盘个数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.Disk_Number }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.raid.id_for_label }}">RAID:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.raid}}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.RAID_Battery.id_for_label }}">RAID电池:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.RAID_Battery }}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-1">
                    <label for="{{ object.hba.id_for_label }}">HBA卡:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.hba }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.HBA_Number.id_for_label }}">HBA卡个数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.HBA_Number}}
                </div>
                <div class = "col-lg-1">
                    <label for="{{ object.pcie.id_for_label }}">PCIE卡:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.pcie }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.PCIE_Number.id_for_label }}">PCIE卡个数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.PCIE_Number }}
                </div>
            </div>
            <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.nic.id_for_label }}">外置网卡:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.nic }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.NIC_Number.id_for_label }}">外置网卡个数:</label>
                </div>
                <div class = "col-lg-1">
                    {{ object.NIC_Number }}
                </div>
             </div>
            <hr>
                    {# 其他信息 #}
            <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.Purchasing_Time.id_for_label }}">购买日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Purchasing_Time | date:"Y-m-d" }}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.Guarantee_Time.id_for_label }}">过保日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Guarantee_Time | date:"Y-m-d" }}
                </div>
             </div>
             <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.Up_Time.id_for_label }}">上架日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Up_Time | date:"Y-m-d"}}
                </div>
                <div class = "col-lg-2">
                    <label for="{{ object.Change_Time.id_for_label }}">变更日期:</label>
                </div>
                <div class = "col-lg-2">
                    {{ object.Change_Time | date:"Y-m-d"}}
                </div>
             </div>
             <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.Change_Info.id_for_label }}">变更说明:</label>
                </div>
                <div class = "col-lg-7">
                    {{ object.Change_Info }}
                </div>
             </div>
             <div class='row'>
                <div class = "col-lg-2">
                    <label for="{{ object.Remarks.id_for_label }}">备注:</label>
                </div>
                <div class = "col-lg-7">
                    {{ object.Remarks }}
                </div>
            </div>
    
     </div>
</div>
{% endblock %}
