{% extends 'base.html'  %}
{% block host_physical %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">物理主机</h1>
    <a class="btn btn-primary" href="/cmdb/host/physical/add"><i class="fa fa-plus"></i>添加</a>
    <form class="navbar-form navbar-right" method='get' action='/cmdb/host/physical/search'> {% csrf_token %}
            <select id="id_search_key"  name="search_key" class="form-control">
              <option value="SN">序列号</option>
              <option value="HostName">主机名</option>
              <option value="Manage_IP">管理IP</option>
              <option value="RAC_IP">远程管理IP</option>
              <option value="User">使用者</option>
              <option value="Useinfo">用途</option>
            </select>
            <input id="id_search_value"type="text" name="search_value" class="form-control">
            {% if search_key %}
            <script>
                $("#id_search_key ").val("{{search_key}}"); 
                $("#id_search_value ").val("{{search_value}}"); 
            </script>
            {% endif %}
            <input type="submit" class="form-control" value="查询">
    </form>
    {# <table id="myTable" "class="tablesorter table table-condensed"> #}
    <table id="myTable" class="tablesorter"> 
        <thead>
            <tr> 
                <th>主机名</th> 
                <th>主机状态</th> 
                <th>管理IP</th> 
                <th>远程管理IP</th> 
                <th>使用者</th> 
                <th>用途</th> 
                <th>编辑</th> 
                <th>删除</th> 
                <th>详情</th> 
           </tr> 
        </thead>
        <tbody>
           {% for object in objects %}
           <tr> 
                <td>{{object.HostName}}</td> 
                {% if object.Status == 0 %}
                    <td>使用</td> 
                {% elif object.Status == 1 %}
                    <td>空闲</td> 
                {% elif object.Status == 2 %}
                    <td>故障</td> 
                {% else %}
                    <td>备用</td> 
                {% endif %}
                <td>{{object.Manage_IP}}</td> 
                <td>{{object.RAC_IP}}</td> 
                <td>{{object.User}}</td> 
                <td>{{object.UseInfo}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_delete' object.id %}">删除</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_detail' object.id %}">详情</a></td> 
             </tr> 
          {% endfor %}
             </tbody> 
     </table>
     <div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            {% if search_value %}
            <a href="?page={{ objects.previous_page_number }}&search_key={{search_key}}&search_value={{search_value}}">前一页</a>
            {% else %}
            <a href="?page={{ objects.previous_page_number }}">前一页</a>
            {% endif %}
            
        {% endif %}

        <span class="current">
            第 {{ objects.number }} 页  共{{ objects.paginator.num_pages }}页 {{ total }}条
        </span>

        {% if objects.has_next %}
            {% if search_value %}
            <a href="?page={{ objects.next_page_number }}&search_key={{search_key}}&search_value={{search_value}}">下一页</a>
            {% else %}
            <a href="?page={{ objects.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </span>
    </div>
     <script>
     $(function(){
     $("#myTable").tablesorter();
     });
     </script>

</div>
{% endblock %}

