       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
                <a href="#objectManager" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                            对象管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                    <ul id="objectManager" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/cmdb/object/department/get"><i class="glyphicon glyphicon-cog"></i>部门</a></li>
                        <li><a href="/cmdb/object/service/get"><i class="glyphicon glyphicon-cog"></i>业务</a></li>
                        <li><a href="/cmdb/object/vendor/get"><i class="glyphicon glyphicon-cog"></i>厂商</a></li>
                        <li><a href="/cmdb/object/model/get"><i class="glyphicon glyphicon-cog"></i>型号</a></li>
                        <li><a href="/cmdb/object/cpu/get"><i class="glyphicon glyphicon-cog"></i>CPU</a></li>
                        <li><a href="/cmdb/object/memory/get"><i class="glyphicon glyphicon-cog"></i>内存</a></li>
                        <li><a href="/cmdb/object/disk/get"><i class="glyphicon glyphicon-cog"></i>硬盘</a></li>
                        <li><a href="/cmdb/object/raid/get"><i class="glyphicon glyphicon-cog"></i>RAID</a></li>
                        <li><a href="/cmdb/object/hba/get"><i class="glyphicon glyphicon-cog"></i>HBA</a></li>
                        <li><a href="/cmdb/object/pcie/get"><i class="glyphicon glyphicon-cog"></i>PCIE</a></li>
                        <li><a href="/cmdb/object/nic/get"><i class="glyphicon glyphicon-cog"></i>扩展网卡</a></li>
                        <li><a href="/cmdb/object/os/get"><i class="glyphicon glyphicon-cog"></i>操作系统</a></li>
                        <li><a href="/cmdb/object/kernel/get"><i class="glyphicon glyphicon-cog"></i>内核版本</a></li>
                    </ul>
            </li>
            <li>
                <a href="#hostManager" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                            主机管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                    <ul id="hostManager" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/cmdb/host/physical/get"><i class="glyphicon glyphicon-cog"></i>物理主机</a></li>
                        <li><a href="/cmdb/host/virtual/get"><i class="glyphicon glyphicon-cog"></i>虚拟主机</a></li>
                    </ul>
            </li>
            <li>
                <a href="#resourceManager" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                            资源管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                    <ul id="resourceManager" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/cmdb/resource/idc/get"><i class="glyphicon glyphicon-cog"></i>IDC</a></li>
                        <li><a href="/cmdb/resource/zone/get"><i class="glyphicon glyphicon-cog"></i>区域</a></li>
                        <li><a href="/cmdb/resource/rack/get"><i class="glyphicon glyphicon-cog"></i>机柜</a></li>
                    </ul>
            </li>
             <li>
                <a href="#AccessoriesManager" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                            配件管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                    <ul id="AccessoriesManager" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/cmdb/accessories/memory/get"><i class="glyphicon glyphicon-cog"></i>内存</a></li>
                        <li><a href="/cmdb/accessories/disk/get"><i class="glyphicon glyphicon-cog"></i>硬盘</a></li>
                    </ul>
            </li>
            <li>
                <a href="#ServiceManager" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                            服务管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                    <ul id="ServiceManager" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/cmdb/application/get"><i class="glyphicon glyphicon-cog"></i>重要服务</a></li>
                    </ul>
            </li>

            <li>
                <a href="#LogManager" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                            日志管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                    <ul id="LogManager" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/cmdb/loginlog/get"><i class="glyphicon glyphicon-cog"></i>登录日志</a></li>
                        <li><a href="/cmdb/oplog/get"><i class="glyphicon glyphicon-cog"></i>操作日志</a></li>
                    </ul>
            </li>
            <li><a href="/cmdb/user"><i class="glyphicon glyphicon-cog"></i>用户管理</a></li>
          </ul>
        </div>
