{% extends 'base.html'  %}
{% block object_os %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">操作系统</h1>
    <a class="btn btn-primary" href="/cmdb/object/os/add"><i class="fa fa-plus"></i>添加</a>
    <div class='hero-unit'>
    <table class="table table-condensed"> 
        <tbody>
            <tr> 
                <th>系统名称</th> 
                <th>编辑</th> 
                <th>删除</th> 
           </tr> 
           {% for object in objects %}
           <tr> 
                <td>{{object.OS_Name}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'object_os_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'object_os_delete' object.id %}">删除</a></td> 
          </tr> 
          {% endfor %}
     </table>
     </div>


</div>
{% endblock %}
