{% extends 'base.html'  %}
{% block object_disk %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">硬盘</h1>
    <a class="btn btn-primary" href="/cmdb/object/disk/add"><i class="fa fa-plus"></i>添加</a>
    <div class='hero-unit'>
    <table class="table table-condensed"> 
        <tbody>
            <tr> 
                <th>硬盘型号</th> 
                <th>编辑</th> 
                <th>删除</th> 
           </tr> 
           {% for object in objects %}
           <tr> 
                <td>{{object.Disk_Type}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'object_disk_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'object_disk_delete' object.id %}">删除</a></td> 
          </tr> 
          {% endfor %}
     </table>
     </div>


</div>
{% endblock %}
