{% extends 'base.html'  %}
{% block host_virtual %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">操作日志</h1> 
    <form class="navbar-form navbar-right" method='get' action='/cmdb/oplog/search'> {% csrf_token %}
            <select id="id_search_key"  name="search_key" class="form-control">
              <option value="user">用户名</option>
              <option value="content_type">对象</option>
              <option value="object_repr">实例</option>
              <option value="action_flag">操作</option>
              <option value="action_time">时间</option>
            </select>
            <input id="id_search_value"type="text" name="search_value" class="form-control">
            {% if search_key %}
            <script>
                $("#id_search_key ").val("{{search_key}}"); 
                $("#id_search_value ").val("{{search_value}}"); 
            </script>
            {% endif %}
            <input type="submit" class="form-control" value="查询">
    </form>
    <table id="myTable" class="tablesorter"> 
        <thead>
            <tr> 
                <th>用户名</th> 
                <th>对象</th> 
                <th>实例</th> 
                <th>操作</th> 
                <th>时间</th> 
                <th>详情</th>
           </tr> 
         </thead>
         </tbody>         
           {% for object in objects %}
           <tr> 
                <td>{{object.user}}</td> 
                <td>{{object.content_type}}</td> 
                <td>{{object.object_repr}}</td> 
                {%if object.action_flag == 1 %} 
                <td>添加</td>
                {%elif object.action_flag == 2 %} 
                <td>修改</td>
                {%elif object.action_flag == 3 %} 
                <td>删除</td>
                {% endif %}             
                <td>{{object.action_time | date:"Y-m-d H:i"}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'get_op_detail' object.id %}">详情</a></td>
          </tr> 
          {% endfor %}
          </tbody>
     </table>
    <div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            {% if search_value %}
            <a href="?page={{ objects.previous_page_number }}&search_key={{search_key}}&search_value={{search_value}}">前一页</a>
            {% else %}
            <a href="?page={{ objects.previous_page_number }}">前一页</a>
            {% endif %}

        {% endif %}

        <span class="current">
            第 {{ objects.number }} 页  共{{ objects.paginator.num_pages }}页 {{ total }}条
        </span>

        {% if objects.has_next %}
            {% if search_value %}
            <a href="?page={{ objects.next_page_number }}&search_key={{search_key}}&search_value={{search_value}}">下一页</a>
            {% else %}
            <a href="?page={{ objects.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </span>
    </div>
     <script>
     $(function(){
     $("#myTable").tablesorter();
     });
     </script>
{% endblock %}
