{% extends 'base.html'  %}
{% block resource_idc %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">机房</h1>
    <a class="btn btn-primary" href="/cmdb/resource/idc/add"><i class="fa fa-plus"></i>添加</a>
    <div class='hero-unit'>
    <table class="table table-condensed"> 
        <tbody>
            <tr> 
                <th>机房名称</th> 
                <th>机房地址</th> 
                <th>机房联系人</th> 
                <th>邮箱地址</th> 
                <th>联系电话</th> 
                <th>编辑</th> 
                <th>删除</th> 
           </tr> 
           {% for object in objects %}
           <tr> 
                <td>{{object.IDC_Name}}</td> 
                <td>{{object.IDC_Location}}</td> 
                <td>{{object.IDC_Contact}}</td> 
                <td>{{object.IDC_Email}}</td> 
                <td>{{object.IDC_Phone}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'resource_idc_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'resource_idc_delete' object.id %}">删除</a></td> 
          </tr> 
          {% endfor %}
     </table>
     </div>


</div>
{% endblock %}
