{% extends 'base.html'  %}
{% block resource_rack %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">机柜</h1>
    <a class="btn btn-primary" href="/cmdb/resource/rack/add"><i class="fa fa-plus"></i>添加</a>
    <table id="myTable" class="tablesorter"> 
        <thead>
            <tr> 
                <th>机柜名称</th> 
                <th>所属机房</th> 
                <th>编辑</th> 
                <th>删除</th> 
           </tr> 
        </thead>
           {% for object in objects %}
        <tbody>
           <tr> 
                <td>{{object.Rack_Name}}</td> 
                <td>{{object.idc}}</td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'resource_rack_edit' object.id %}">编辑</a></td> 
                <td><a class="playitbtn tryitbtnsyntax" href="{% url 'resource_rack_delete' object.id %}">删除</a></td> 
          </tr> 
        </tbody>
          {% endfor %}
     </table>
  <script>
     $(function(){
     $("#myTable").tablesorter();
     });
  </script>


</div>
{% endblock %}
