{% extends 'base.html'  %}
{% block search %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header">搜索</h1>
{% if  hostvirtuals %}
<table class="table table-striped">
  <caption>虚拟服务器</caption>
  <thead>
    <tr>
      <th>主机名</th>
      <th>管理ip</th>
      <th>部门</th>
      <th>业务</th>
      <th>宿主机ip</th>
      <th>使用者</th>
      <th>用途</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    {% for hostvirtual in  hostvirtuals %}
    <tr>
      <td>{{ hostvirtual.hostname | first }} </td>
      <td>{{ hostvirtual.manage_ip | first }} </td>
      <td>{{ hostvirtual.department_name | first }} </td>
      <td>{{ hostvirtual.service_name | first }} </td>
      <td>{{ hostvirtual.physical_host_ip | first }} </td>
      <td>{{ hostvirtual.user | first }} </td>
      <td>{{ hostvirtual.useinfo | first }} </td>
      <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_virtual_detail' hostvirtual.django_id|first %}">详情</a></td>
    </tr>
    {% endfor %}
  </tbody>
{% endif %}

{% if hostphysicals %}
<table class="table table-striped">
  <caption>物理服务器</caption>
  <thead>
    <tr>
      <th>主机名</th>
      <th>管理ip</th>
      <th>部门</th>
      <th>业务</th>
      <th>使用者</th>
      <th>远程管理卡ip</th>
      <th>用途</th>
    </tr>
  </thead>
  <tbody>
    {% for hostphysical in  hostphysicals %}
    <tr>
      <td>{{ hostphysical.hostname | first }} </td>
      <td>{{ hostphysical.manage_ip | first }} </td>
      <td>{{ hostphysical.department_name | first }} </td>
      <td>{{ hostphysical.service_name | first }} </td>
      <td>{{ hostphysical.user | first }} </td>
      <td>{{ hostphysical.rac_ip | first }} </td>
      <td>{{ hostphysical.useinfo | first }} </td>
      <td><a class="playitbtn tryitbtnsyntax" href="{% url 'host_physical_detail' hostphysical.django_id|first %}">详情</a></td>
    </tr>
    {% endfor %}
  </tbody>
{% endif %}
{% if applications %}
<table class="table table-striped">
  <caption>重要服务</caption>
  <thead>
    <tr>
      <th>服务名</th>
      <th>服务级别</th>
      <th>nginx</th>
      <th>内网域名</th>
      <th>外网域名</th>
      <th>应用负责人</th>
    </tr>
  </thead>
  <tbody>
    {% for application in  applications %}
    <tr>
      <td>{{ application.service | first }} </td>
      <td>{{ application.service_level | first }} </td>
      <td>{{ application.nginx | first }} </td>
      <td>{{ application.l_domain | first }} </td>
      <td>{{ application.w_domain | first }} </td>
      <td>{{ application.app_user | first }} </td>
      <td><a class="playitbtn tryitbtnsyntax" href="{% url 'application_detail' application.django_id|first %}">详情</a></td>
    </tr>
    {% endfor %}
  </tbody>
{% endif %}
</div>

{% endblock %}
